/phpunit.xml
# dossier tep pour les app php
/var/*
# dossier des framework
/vendor/
!/vendor/Symfony/../ErrorHandler.php  # je ne sais plus pourquoi j'ai inclut celui-là
#### #### #### #### #### #### #### #### ####
*.yml
# on exclut par défaut tous les fichiers de config

# Je fournit certains fichiers
!/app/config/parameters.yml.dist	# exemple de fichiers de paramètres 
!/app/config/config.yml 			# fichier de configuration de base

# trois environement de travails  
!/app/config/config_dev.yml 		# Environement pour le développement
!/app/config/config_security.yml 	# Environement de configuration de la sécurité du framework
!/app/config/config_test.yml 		# Environement de test  unitaires 

# et leurs dossiers respectifs
!/app/config/dev/*
!/app/config/security/*
!/app/config/origin/*
#### #### #### #### #### #### #### #### ####

*.bkp
*.settings

# on ne veux pas des images
*.jpeg
*.jpg
*.avif
*.png
*.ico